<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand ms-5">Danar<span>Rental</a>
        <div class="d-flex" role="search">
            <form class="mt-3">
                <input type="text" name="search" placeholder="Search">
                <button type="submit" class="btn btn-outline-success">search</button>
            </form>
            <ul class="me-2">
                <li class="nav-item dropdown me-5 mt-3">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <img src="/image/D-profile.png" alt="Profile Picture" class="profile-image me-2 " width="40">
                        Danar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Setting</a></li>
                        <li><a class="dropdown-item" href="#">LogOut</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

</nav>